apiVersion: v1
kind: Service
metadata:
  name: helloworld
  namespace: wercker
  labels: 
    commit: ${WERCKER_GIT_COMMIT}
    app: helloworld
spec:
  type: ClusterIP
  selector:
    app: helloworld
  ports:  
    - name: http
      protocol: TCP
      port: 8080